.headers {
    margin: 0;
    padding: 14px 0px;

}

.tmdbBanner {
    padding: 14px 0px;
}

.tmdb-title {
    margin: 0;
    padding-top: 10%;
    font-size: 70px;
    font-family: sans-serif;
}

.tmdb-desc {
    margin: 0;
    padding-top: 2%;
    font-size: 30px;
    font-family: sans-serif;
}

.tmdb-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 2%;
}

.tmdb-btn {
    margin: 0;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    font-size: 24px;
    width: 200px;
    height: 70px;
}

.tmdb-btn:nth-child(2) {
    background-color: #000;
    margin-left: 20px;
}

.trindingSection,
.toprotedSection,
.actionMoviesSection,
.ComedyMoviesSection,
.fetchHorrorMoviesSection,
.fetchRomanceMoviesSection,
.DocumentariesMoviesSection {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title,
.tmdbtitle {
    font-size: 34px;
    font-family: sans-serif;
    margin: 0;
    padding: 20px 0;
}

.movieName {
    font-size: 12px;
    margin: 0;
    padding-top: 7px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.movieImg {
    max-width: 300px;
    max-height: 280px;
    min-width: 300px;
    min-height: 280px;
    border-radius: 10px;
}

.movieImgs {
    max-width: 300px;
    max-height: 240px;
    min-width: 300px;
    min-height: 240px;
    border-radius: 10px;
}

.movieImgsAction {
    max-width: 300px;
    max-height: 220px;
    min-width: 300px;
    min-height: 220px;
    border-radius: 10px;
}

/* ACTION MOVIES STYLE */
.fetchHorrorMovies,
.fetchRomanceMovies,
.DocumentariesMovies,
.tmdbComedyMovies,
.tmdbmoviesAction,
.tmdbmovies,
.trindingMovie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}


.fetchHorrorMoviesCard,
.fetchRomanceMoviesCard,
.DocumentariesMoviesCard,
.ComedyMoviesCard,
.moviesCardAction,
.moviesCard,
.movieCard {
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 25px;
    border-radius: 10px;
}

.fetchHorrorMoviesImg,
.fetchRomanceMoviesImg,
.DocumentariesMoviesImg,
.ComedyMoviesImg {
    max-width: 300px;
    max-height: 180px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 10px;
}

/* SCROOL STYLE SECTIONS */
/* TRINDING SCROOL STYLE */
/* width */
.trindingMovie::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

/* Track */
.trindingMovie::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

/* Handle */
.trindingMovie::-webkit-scrollbar-thumb {
    background: #888;
}

/* TOPRATED SCROoL STYLE */
.tmdbmovies::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

.tmdbmovies::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

.tmdbmovies::-webkit-scrollbar-thumb {
    background: #888;
}

/* ACTION MOVIES scrool style */

.tmdbmoviesAction::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

.tmdbmoviesAction::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

.tmdbmoviesAction::-webkit-scrollbar-thumb {
    background: #888;
}

/* COMEDY SCROOL STYLE */
.tmdbComedyMovies::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

.tmdbComedyMovies::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

.tmdbComedyMovies::-webkit-scrollbar-thumb {
    background: #888;
}

/* HORROR SCROOL STYLE */
.fetchHorrorMovies::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

.fetchHorrorMovies::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

.fetchHorrorMovies::-webkit-scrollbar-thumb {
    background: #888;
}

/* ROMANCE SCROOL STYLE */
.fetchRomanceMovies::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

.fetchRomanceMovies::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

.fetchRomanceMovies::-webkit-scrollbar-thumb {
    background: #888;
}

/* DOCUMENTARYMOVIES SCROOL */

.DocumentariesMovies::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

.DocumentariesMovies::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

.DocumentariesMovies::-webkit-scrollbar-thumb {
    background: #888;
}